<h2 class="sub-header">Contacts</h2>
<div [hidden]="!error">An error occurred</div>
<div [hidden]="!errorRemove">An error occurred</div>
<div [hidden]="error" class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Header</th>
                <th>Header</th>
                <th>Header</th>
                <th>Header</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contact of contacts">
                <td>{{contact.name}}</td>
                <td>{{contact.surname}}</td>
                <td>{{contact.firmName}}</td>
                <td>{{contact.email}}</td>
                <td>{{contact.phone}}</td>
                <td style="cursor: pointer;" (click)="router.navigate(['/contacts/new', contact.id])"><i class="fa fa-edit"></i></td>
                <td style="cursor: pointer;" (click)="deleteContact(contact.id)"><i class="fa fa-trash"></i></td>
            </tr>
           
        </tbody>
    </table>
</div>